.home {
    padding: 0px 10px;
    padding-bottom: 100px;
}

.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 600px;
    margin: 80px auto;
    gap: 30px;
}

.hero h1 {
    font-size: max(4vw, 36px);
}

.gradient-text {
    font-weight: 700;
    font-size: 3.5rem;
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    animation: gradientMove 5s infinite alternate;
    background-size: 200%;
}

.hero form button {
    background: linear-gradient(90deg, #00DBDE, #FC00FF);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 12px 28px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px rgba(252, 0, 255, 0.4);
}

/*  Hover Effect */
.hero form button:hover {
    background: linear-gradient(90deg, #FC00FF, #00DBDE);
    transform: scale(1.08);
    box-shadow: 0 0 18px rgba(252, 0, 255, 0.7),
        0 0 25px rgba(0, 219, 222, 0.6);
    letter-spacing: 1px;
}

/*  animation on hover */
.hero form button:hover {
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1.05);
        box-shadow: 0 0 18px rgba(252, 0, 255, 0.7),
            0 0 25px rgba(0, 219, 222, 0.6);
    }

    50% {
        transform: scale(1.1);
        box-shadow: 0 0 28px rgba(252, 0, 255, 0.9),
            0 0 35px rgba(0, 219, 222, 0.8);
    }

    100% {
        transform: scale(1.05);
        box-shadow: 0 0 18px rgba(252, 0, 255, 0.7),
            0 0 25px rgba(0, 219, 222, 0.6);
    }
}


@keyframes gradientMove {
    from {
        background-position: left;
    }

    to {
        background-position: right;
    }
}


.hero p {
    width: 75%;
    color: #e3e3e3;
    line-height: 1.5;
}

.hero form {
    padding: 8px;
    width: 80%;
    background-color: #fff;
    border-radius: 5px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.hero input {
    flex: 1;
    font-size: 16px;
    outline: none;
    border: none;
    padding-left: 10px;
}

.hero button {
    border: none;
    background: #7927ff;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.crypto-table {
    max-width: 800px;
    margin: auto;
    background: linear-gradient(180deg, #180036, #240046);
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(128, 0, 255, 0.2);
}

.table-layout {
    display: grid;
    grid-template-columns: .5fr 2fr 1fr 1fr 1.5fr;
    padding: 15px 20px;
    align-items: center;
    border-bottom: 1px solid #3c3c3c;
}

.market-cap {
    text-align: right;
}

.table-layout:last-child {
    border: none;
}

.table-layout div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-layout div img {
    width: 35px;
}

.table-layout .green {
    color: #00D515;
    text-align: center;
}

.table-layout .red {
    color: #ff4646;
    text-align: center;
}

@media (max-width: 768px) {
    .table-layout {
        grid-template-columns: 0.5fr 3fr 1fr 1fr;
    }

    .market-cap {
        display: none;
    }
}

@media (max-width: 500px) {
    .table-layout div img {
        width: 25px;
    }

    .table-layout {
        font-size: 13px;
    }

    .hero form input {
        width: 100px;
    }
}